#navbar {
	padding: 5px 10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	/*font-size: 14.25px;*/
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	height: 3em;
	background-color: white;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
/* Page content */
.content {
	padding: 16px;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 102px;
}
/* Grid positioning*/
#subscribe {
	grid-column: 10/11;
	height: 2.5em;
	width: 10em;
	font-size: 0.8em;
	font-weight: 600;
	background-color: #567b95;
	color: white;
}
#login {
	margin-left: 1em;
	grid-column: 11;
	height: 2.5em;
	width: 6em;
	font-size: 0.8em;
	font-weight: 600;
	background-color: #567b95;
	color: white;
}
#nyt {
	grid-column: 5/7;
}
#cosmos {
	grid-column: 3/5;
	margin-top: 2px;
	margin-left: -10em;
	font-weight: 1000;
}
#menu {
	grid-column: 1;
}
#search {
	grid-column: 2;
	margin-left: -3em;
}
#title {
	margin-top: 4em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
h1 {
	width: 50%;
	border-bottom: 1px solid grey;
}
.icons {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.icons2 {
	width: 50%;
}
#picContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
#mainPic {
	width: 70%;
}
#fig {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
#alanFig {
	color: grey;
	width: 64%;
}

#mainContent {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
